<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quitit">


    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
      <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AskDoctorAffiliationActivity"
            android:label="Doctor Affiliation"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="Records" />
        <activity
            android:name=".NewEntryActivity"
            android:label="New Entry"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReportActivity"
            android:label="Report"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewActivity"
            android:label="View Record"
            android:parentActivityName=".ReportActivity" />
        <activity
            android:name=".UpdateActivity"
            android:label="Update Record"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnalyticsMPChartSmoking"
            android:label="Smoking Analytics"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnalyticsMPChartChewing"
            android:label="Chewing Analytics"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".MPChartExample"></activity>
        <activity android:name=".NotificationActivity"
            android:label="Notification" />

        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>